* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 120vh;
  background: #131415;

}

.none {
  visibility: hidden;
}
.formulario-busqueda{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.todo-container {
  width:600px ;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 4rem;
  justify-items: center;
}

.todo-container button {
  height: 50px;
  width: 166px;
  font-family: var(--tipo-principal);
  font-weight: 600;
  
  border: none;
  border-radius: 15px;
  color: #ffffff;
  background: linear-gradient(90deg, #ffa100, #fb103d);
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  width:700px ;
  justify-content: center;
}

.input-container {
  display: flex;

  width:400px ;
}

.input {
  display: flex;
  background-color: #3b3b3b;
  outline: none;
  border: none;
  padding: 15px 10px;
  border-radius: 0px 8px 8px 0px;
  width: 250px;
  color: white;
  padding-left: 5px;
  width: 600px;
  appearance: none;
  

}

.input::placeholder {
  color: #808080;
  font-size: 0.9rem;
}

.input-container img {
  width: 34px;
  background-color: #3b3b3b;
  border-radius: 8px 0px 0px 8px;
  padding: 0.7rem;
}

.add-btn {
 
  background: #282828;
  outline: none;
  border: 0px solid;
  padding: 10px 40px;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}



/* COMIENZO DE SECCION "CARDS DE LA BUSQUEDA" ▼ ▼*/


.titulo_cards {
  color: white;
  font-family: "Montserrat";
  margin: 20px 30px;
}

.contenedor_cards {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  
}

.card_comida {
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 400px;
  background-color: #252525;
  border-radius: 15px;
  justify-content: space-between;
  padding: 16px;
}



.imagen_comida {
  background-image: url(/imagens_cards_gus/Photo\ Menu.png);
}

.nombre_producto h4 {
  font-family: "Montserrat";
  color: white;
  background-color: #252525;
  font-size: 14px;
  text-align: left;
}

.desc h4 {
  font-family: "Montserrat";
  color: rgb(125, 148, 148);
  background-color: #252525;
  font-size: 14px;
}

.precio_boton {
  background-color: #252525;
  display: flex;
  justify-content: space-between;
}

.mensaje_error  {
  font-family: "Montserrat";
  color: crimson;
  font-size: 18px;
  text-align: left;
}

.precio_boton h2 {
  font-family: "Montserrat";

  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  width: 100px;
  font-size: 19px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card_boton {
  background-color: transparent;
}



/* FIN DE SECCION "CARDS DE BUSQUEDA" ▲ ▲*/

/* COMIENZO DE LA SECCION FOOTER  ▼ ▼*/
.contenedorFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  color: #ffffff;
}

footer {
  margin-top: 60px;
}

.elementosFooter {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
  padding-bottom: 50px;
}

.elementosFooter span {
  font-weight: bold;
}

.elementosFooter .cor {
  color: red;
}

/* FIN DE SECCION FOOTER ▲ ▲*/
/* HERO */
:root {
  --tipo-principal: "Montserrat";
}

.hero {
  width: 100vw;
  margin: 80px 0px 0px 0px;
  padding: 0 8%;
}



.hero{
  color: #ffffff;
  margin-top: 80px;
}

.hero h2 {
  font-family: var(--tipo-principal);
  font-size: 22px;
}


/* FIN HERO */

/* INICIO MEDIA-Q */

@media (max-width:1440px) {
  .cards-container {
    padding: 0px;
  }
}

@media (max-width:1250px) {
  .hero-one {
    flex-direction: column-reverse;
    overflow: visible;
  }
}

@media (max-width:550px) {
  .contenedorheader {
    padding: 0px;
  }

  .hero {
    width: 100%;
  }

  .hero-text {
    min-width: 320px;
    text-align: center;
  }

  .hero-image {
    overflow: visible;
    width: 100%;
    padding: 0px;
  }

  .hero-image img:last-child {
    top: -80px;
    left: -115px;
  }

  .hero-image #pizza-img {
    max-block-size: 180px;
  }

  .hero-image #pizza-img-3d {
    max-block-size: 280px;
  }

  .hero-one {
    align-items: center;
  }

  .contenedorFooter {
    flex-direction: column;
  }
}

@media (max-width:375px) {
  .contenedorCategoria {
    gap: 10px;
  }
}

/* FIN MEDIA-Q */